<div class="mb-1">
  <label for="date_time">Date / Time: (please enter in UTC +8 hrs)</label><br />
  <% if (locals.data?.date_time) { %>
  <input
    type="datetime-local"
    name="date_time"
    value="<%= locals.data.date_time %>"
    max="<%= locals.data.date_time %>"
    required
  />
  <% } else { %>
  <input
    type="datetime-local"
    name="date_time"
    max="<%= moment().format('YYYY-MM-DDTHH:mm') %>"
    required
  />
  <% } %>
</div>
<div class="mb-1">
  <label for="category_id">Species:</label><br />
  <select name="category_id">
    <% categories.forEach((category) => { %>
    <option 
    value="<%= category.id %>"
    <%=locals.data?.species_id === category.id ? 'selected' : '' %>
    >
      <%= category.name %>
    </option>
    <% }); %>
  </select>
</div>
<div class="mb-1">
  <label for="behaviour">Behaviour:</label><br />
  <% behaviours.forEach((behaviour) => { %>
    <label>
      <input type="checkbox" name="behaviour_ids" value="<%= behaviour.id %>"
      <%=locals.behaviourIDs?.includes(behaviour.id) ? 'checked' : '' %> />
      <%= behaviour.behaviour %>
    </label>
    <br />
  <% }) %>
</div>
<div class="mb-1">
  <label for="flock_size">Flock size:</label><br />
  <input
    type="text"
    value="<%= locals.data?.flock_size %>"
    name="flock_size"
    required
  />
</div>
<input type="submit" value="Submit" />
